@model Datien.Models.EducationInstitution

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>EducationInstitution</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InstitutionName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InstitutionName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FullName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FullName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LegalCertificate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LegalCertificate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TeachingStaff)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TeachingStaff)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Students)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Students)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AnnualAverageGraduates)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AnnualAverageGraduates)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Latitude)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Latitude)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Longitude)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Longitude)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.EducationID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
